params.outdir = "${projectDir}"
params.manifest = 'assets/cohort_manifest_template.csv'
params.max_samples = 0
params.steps = '01,02,03,05,06,07'
params.dataset = 'dlpfc'
params.input_spe_rds = ''
params.validate_strict = true
params.validate_only = false

process {
  executor = 'local'
}

trace {
  enabled = true
  file = "${params.outdir}/outputs/nf/trace.txt"
  overwrite = true
}

report {
  enabled = true
  file = "${params.outdir}/outputs/nf/report.html"
  overwrite = true
}

timeline {
  enabled = true
  file = "${params.outdir}/outputs/nf/timeline.html"
  overwrite = true
}

profiles {
  local {
    includeConfig 'conf/local.config'
  }
}
